$text_color: #A87C57;
$light_color: #F2EBE6;

nav {
    background-color: $light_color;
    box-shadow: none;
}

#header {
    background-color: $light_color;
    nav {
        min-height: 100px;
    }    
    .brand-logo {
        vertical-align: middle
    }    
    img {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        height: auto;
    }
    .col {
        a{
            color: $text_color;
            padding-bottom: 200px;
        }
    }
    #header_padding {
        padding-bottom: 200px;
    }
}

#special_offers {
    position: relative;
    top: -50px;
    
    .l7, .l11 {
        display:inline-block;   
        position:relative;
    }
        
    img {
        width: 100%;
    }
    
    .text_on_img {
        width: 200px;
        display:block;
        position:absolute;
        text-align: center;
        color: white;
        text-shadow: 0px 0px 1px black;
        button {
            width: 200px;
            border: 2px solid #DED9D3;
            background: none;
            margin-top: 20px;
            padding: auto;
            padding-top: 15px;
            padding-bottom: 15px; 
        }
    }
    
    .on_left {
        right: 60px;
        bottom: 240px;
    }
    .on_right {
        left: 60px;
        bottom: 60px;
    }
    
    .text_under_img {        
        padding-top:15px;
        padding-bottom:15px;
        width: auto;
        min-height: 100px;
        margin-top: 20px;
        border: 1px solid $text_color;
        font-size: 30px;
    }
}

#bestsellers {
    .row {
        .glass {
            display:inline-block;   
            position:relative;
            &:hover {
                button {
                    visibility: visible;
                }
                .price_with_tax {
                display: inherit;
                }
                .glass_name {
                    margin-bottom: 15px;
                }
            }
            button {
                visibility: hidden;
                width: 80%;
                margin-left: 10%;
                height: 300px;
                background: none;
                border: 20px solid $light_color;
                color: $light_color;
                font-weight: 900;
                font-size: 40px;
                line-height: 450px;
                vertical-align: bottom;
            }
            img {
                width: 90%;
                margin-left: 3%;
                display:block;
                position:absolute;
                top: 30px;
            }
            p {
                text-align: center;             
            }
            .glass_name {
                color: $text_color;
                text-transform: uppercase;
                font-size: 20px;
                margin-top: 20px;
                margin-bottom: 40px;
            }
            .price_with_tax {
                display: none;
                color: grey;
                font-size: 15px;
                margin-bottom: 10px;
            }
            .price {
                color: black;
                font-size: 40px;
            }
        }
    }
    .load_btn {
        color: black;
        border: 1px solid grey;
        width: 20%;
        background: none;
        margin: 40px 40%;
        padding: auto;
        padding-top: 10px;
        padding-bottom: 15px;
        
        i {
            position: relative;
            top: 6px;
        }
    }
}

.page-footer {
    background: $light_color;
    min-height: 200px;
    font-size: 20px;
    color: $text_color;
    .row {
        padding-bottom: 40px;
        border-bottom: 1px solid $text_color;   

    }
    .footer-copyright {        
        background-color: inherit;
    }
}
